*{
    margin: 0;
    padding: 0;
}

body, html{
    height: 100%;
}

body{
    background-color: hsl(234, 29%, 20%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Outfit", sans-serif;
}

.container{
    width: 800px;
    height:590px;
    background-color: white;
    display: flex;
    align-content:space-around;
    justify-content: center;
    border-radius: 30px;
    padding: 20px;
}

.textContent img{
    width: 15px;
    height: 15px;
}

.p1{
    margin-bottom: 20px;
}

.textContent{
    padding-top: 50px;
    text-align: start;
    margin: 40px;
}

.textContent h1{
    margin-bottom: 20px;
    font-size: 40px;
}

.textContent p{
    /* margin-bottom: 20px; */
    font-size: 14px;
    color: hsl(0, 0%,58%);
}

.tik span {
    display: inline-block;
    color: white;
    font-size: 14px;
    /* font-weight: bold; */
    /* text-align: center; */
    line-height: 20px;
    margin-right: 10px;
    /* font-family: Arial, sans-serif; */
}

.image img{
    border-radius: 15px;
}

.tik p {
    padding-bottom: 10px;
}

.tik{
    margin-bottom: 50px;
}



.email{
    font-size: 10px;
    color: black !important;
    margin-bottom: 13px !important;
}

.email-input::placeholder{
    font-size: 12px;
}

.email-input{
    border-radius: 4px;
    text-decoration: none;
    width: 300px;
    height: 40px;
    outline: none;
    border: 1px solid hsl(231, 7%, 60%);
    padding-left: 20px;
    font-size: 15px;
}

.subscribe{
    border-radius: 10px;
    margin-top: 20px;
}

.subscribe{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    width: 300px;
    height: 50px;
    cursor: pointer;
}


.div{
    width: 350px;
    height: 350px;
    padding: 40px 40px 40px 60px;
    background-color: white;
    border-radius: 40px;   
}

.div h1{
    padding-top: 30px;
    font-size: 40px;
}

.div p{
    padding-top: 30px;
    font-size: 13px;
    color: rgb(71, 69, 69);
    padding-bottom: 30px;
}

.div span{
    font-weight: bolder;
}

#dismiss{
    width: 330px;
    height: 40px;
    background: linear-gradient(45deg, rgb(244, 109, 132), hsl(4, 100%, 67%));
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;

}
#dismiss:hover {
  box-shadow: 0 8px 20px rgba(255, 94, 123, 0.5);
}